.radio__group {
  display: flex;
  gap: 4px;
  margin-bottom: 0.5rem;
}

.radio__group.disabled,
.radio__group.disabled > * { 
  color: rgb(149, 149, 149);
  cursor: not-allowed;
}

.radio__group:hover {
  cursor: pointer;
}

.radio__button {
  accent-color: var(--secondary);
}
