.steps__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  background-color: transparent;
  padding: 0.5rem 0;
}

.step{
  align-items: center;
  border-bottom: 0;
  color: #6d7178;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 15rem;
  min-width: 10rem;
  padding: 0 1rem;
  text-decoration: none;
  position: relative;
}

.step:not(.step.disabled):hover {
  text-decoration: underline;
  cursor: pointer;
}

.step::after {
  content: "";
  position: absolute;
  background-color: var(--main-medium);
  height: 1px;
  top: 30%;
  left: calc(50% + 3rem);
  width: calc(100% - 6rem);
}

.step:last-child::after {
  display: none;
}

.step:not(.step.disabled):hover .step__icon {
  border: none;
}

.step.completed .step__icon {
  background-color: #404247;
  border-color: transparent;
  color: white;
}

.step.current .step__icon {
  background-color: var(--secondary);
  border-color: transparent;
  color: #fff;
}

.step.current .step__text {
  color: var(--secondary);
  font-weight: 500;
}

.step.disabled {
  cursor: not-allowed;
}
.step.disabled:focus {
  border-bottom: 0;
}

.step.disabled .step__text {
  color: rgb(176, 176, 176);
}

.step__icon {
  align-items: center;
  background-color: #dfeeee;
  border: 0;
  border-radius: 50%;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.step__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
}

.step.disabled > .step__icon {
  background-color: #f2f2f2;
}

.step.disabled > .step__text {
  color: #9e9e9e;
}
