.message {
  font-size: 16px;
  color: gray;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4px;
  padding: 4px;
  z-index: 8;
}

.message_icon {
  grid-column: 1;
}

.message_text {
  margin: 0;
}

.message.info {
  color: var(--secondary);
}

.message.error {
  color: red;
}

.message.important {
  color: var(--secondary);
  font-weight: 600;
}

.message.small {
  font-size: 12px;
}

.message.medium {
  font-size: 10px;
}

.message.big {
  font-size: 20px;
}

.message.wrapped {
  /* box-shadow: 0 0 8px 2px var(--shadow); */
  background-color: var(--gray-light);
  border: 1px solid var(--gray);
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
}

.message.wrapped.medium {
  padding: 12px 8px;
}

.message.wrapped.message.big { 
  padding: 16px 8px;
}

@media only screen and (min-width: 600px) {
  .message.small {
    font-size: 12px;
  }

  .message.medium {
    font-size: 16px;
  }

  .message.big {
    font-size: 24px;
  }
}

.message.above {
  position: absolute;
  font-size: 0.8rem;
  padding: 0.5rem;
  top: -1.5rem;
  width: auto;
  transform: translateX(100%);
  background-color: var(--main-medium) !important;
  color: white !important;
  border: 1px solid var(--main-medium) !important;
}

.message.above::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: var(--main-medium) transparent transparent transparent;
}

.message.right {
  position: absolute;
  right: -8px;
  top: 14px;
  width: auto;
  transform: translateX(100%);
  background-color: rgb(94, 94, 94) !important;
  color: white !important;
  border: 1px solid rgb(80, 80, 80) !important;
}

.message.right::after {
  content: " ";
  position: absolute;
  top: 7px;
  right: 100%;
  margin-top: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent rgb(94, 94, 94) transparent transparent;
}

.message.right {
  position: absolute;
}

.message.bottom::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: auto;
  border-color: rgb(94, 94, 94) transparent transparent transparent;
}

